<a href="https://colab.research.google.com/github/Syed-nas/Arkansas_School_data_validation/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/sample_data/influx_dump_05262025.csv')
availbilty_df = data[data['tag']=='Program:C1_Control.Cell.AutomaticAll']
data.dtypes

id               int64
timestamp       object
measurement     object
field           object
value          float64
device_id       object
register_id     object
tag             object
datatype        object
topic           object
dtype: object

In [25]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_timestamp, date_format, when

# Start Spark session
spark = SparkSession.builder.appName("ShiftAssignment").getOrCreate()
spark.sparkContext.setLogLevel("INFO")
# Load CSV directly into Spark (skip pandas entirely)
spark_df = spark.read.csv('/content/sample_data/influx_dump_05262025.csv', header=True, inferSchema=True)

# Filter by tag value
spark_df = spark_df.filter((col("tag") == "Program:C1_Control.Cell.AutomaticAll") & (col("field") == "value") & (col("value") == 1))

# Parse timestamp
spark_df = spark_df.withColumn("timestamp", to_timestamp(col("timestamp")))

# Extract time and day
spark_df = spark_df.withColumn("time_str", date_format(col("timestamp"), "HH:mm:ss"))
spark_df = spark_df.withColumn("date", date_format(col("timestamp"), "yyyy-MM-dd"))

# Assign shift
spark_df = spark_df.withColumn(
    "shift",
    when((col("time_str") >= "07:00:00") & (col("time_str") <= "15:30:00"), 1)
    .when((col("time_str") >= "15:00:00") & (col("time_str") <= "23:30:00"), 2)
    .otherwise("shift3")
)

# Add overlap column
spark_df = spark_df.withColumn(
    "overlap",
    when((col("time_str") >= "15:00:00") & (col("time_str") <= "15:30:00"), 1).otherwise(0)
)

# Show final result
spark_df.select("field","value","timestamp", "time_str", "shift", "overlap", "date").show(10, truncate=False)

+-----+-----+-------------------+--------+-----+-------+----------+
|field|value|timestamp          |time_str|shift|overlap|date      |
+-----+-----+-------------------+--------+-----+-------+----------+
|value|1.0  |2025-05-20 18:03:35|18:03:35|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:36|18:03:36|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:37|18:03:37|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:38|18:03:38|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:39|18:03:39|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:40|18:03:40|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:41|18:03:41|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:42|18:03:42|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:42|18:03:42|2    |0      |2025-05-20|
|value|1.0  |2025-05-20 18:03:43|18:03:43|2    |0      |2025-05-20|
+-----+-----+-------------------+--------+-----+-------+----------+
only showing top 10 rows